@font-face {
  font-family: "SG Kara";
  src: url("../fonts/SGKara-Light_p30download.com.ttf") format("ttf");
  src: url("../fonts/SGKara-Regular_p30download.com.ttf") format("ttf");
  src: url("../fonts/SGKara-SemiBold_p30download.com.ttf") format("ttf");
}

